@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

$color-red: #ff3a20;
$color-grey: #f7f2f3;
$color-black: #000;
$color-white: #fff;
$color-a-negro: rgba(0, 0, 0, 1);
$color-a-red:rgba(213, 25, 25, 1);
$color-black: #000;
$color-body: #ffffffc5;
$color-rect:#f703c2;
$color-rect2: rgba(255, 251, 0, 0.986);
$color-rect3: #0308fac5;
$shadow: rgba(0,0,0,0.05);
